################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Database
/Domain/obj/Debug
/UnitTests/bin/Debug
/UnitTests/obj/Debug/build.force
